.header {
    width: 100vw;
    height: 52px;
    display: flex;
}

.header label {
    font-size: 16px;
}

.btn-group {
    height: 100%;
    width: 220px;
    display: flex;
    align-items: center;
}

.btn-group.name {
    justify-content: center;
    width: 100%;
}