<div class="home-page">
    <div class="header">
        <div class="project-name-container">
            <svg class="project-name-icom" width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9663 31.8069L27.7913 35.7194L40.1988 9.59812L22.225 0.278748L19.8206 5.08625L17.7813 0.900623L-0.193115 10.22L11.5694 35.7056L19.9663 31.8069ZM22.775 1.97125L38.5513 10.1519L27.2088 34.0306L10.8388 25.8456L22.775 1.97125ZM17.2188 2.59937L19.1163 6.49437L9.16126 26.4044L18.5375 31.0925L12.18 34.0444L1.44313 10.78L17.2188 2.59937Z" fill="#8E8D8A"/>
                <path d="M24.3084 3.90403L23.1904 3.34503L22.5655 4.59496L23.6835 5.15396L24.3084 3.90403Z" fill="#8E8D8A"/>
                <path d="M3.19071 11.4049L3.81567 12.6548L4.93367 12.0958L4.30871 10.8459L3.19071 11.4049Z" fill="#8E8D8A"/>
                <path d="M25.6913 32.0967L26.8093 32.6557L27.4342 31.4058L26.3162 30.8468L25.6913 32.0967Z" fill="#8E8D8A"/>
                <path d="M21.965 23.3225L22.1419 23.6162L22.6819 23.6275C24.3838 23.6275 30.0707 23.3781 31.8 20.1725C32.7538 18.4037 32.6894 15.9044 30.9219 14.9512C29.8282 14.3606 28.2494 14.2225 27.1775 14.6106C27.1538 14.3419 27.0963 14.0744 27.0057 13.8106C26.7132 12.9669 26.1069 12.2625 25.2975 11.8262C24.7919 11.5531 24.1975 11.4094 23.5769 11.4094C22.1032 11.4094 20.6963 12.1806 20.0757 13.3294C18.1482 16.9012 21.8082 23.0619 21.965 23.3225ZM21.175 13.9225C21.5707 13.19 22.58 12.6587 23.5763 12.6587C23.99 12.6587 24.38 12.7506 24.7038 12.9256C25.2369 13.2131 25.6344 13.6725 25.8238 14.2187C26.0119 14.7606 25.9675 15.3325 25.7007 15.8287L26.8007 16.4219C27.1857 15.7081 28.1744 15.6312 28.5825 15.6312C29.1982 15.6312 29.8357 15.7837 30.3294 16.05C31.4632 16.6619 31.2694 18.525 30.7013 19.5787C29.3219 22.1319 24.0494 22.3575 22.8594 22.375C21.83 20.5462 19.9288 16.2331 21.175 13.9225Z" fill="#8E8D8A"/>
            </svg>                
            <span class="project-name-titel">
                Planning Poker Room
            </span>
        </div>
        <button id="create-new-room" (click)="createNewRoom()">
            Create new room
        </button>
    </div>
    <div class="body">
        <a class="user-name" (click)="isLogin ? isUserIssuePopupOpen = true : isLoginPopupOpen = true">
            <svg class="margin-ac-svg" width="28" height="28" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm0 4c2.2 0 4 2.2 4 5s-1.8 5-4 5-4-2.2-4-5 1.8-5 4-5zm6.6 15.5C16.9 21 14.5 22 12 22s-4.9-1-6.6-2.5c-.4-.4-.5-1-.1-1.4 1.1-1.3 2.6-2.2 4.2-2.7.8.4 1.6.6 2.5.6s1.7-.2 2.5-.6c1.7.5 3.1 1.4 4.2 2.7.4.4.4 1-.1 1.4z" fill="#E98074" class="fill-000000"></path></svg>
            <span>Account</span>
        </a>
        <span class="first-title">
            A distributed scrum planning tool for evaluating agile projects.
        </span>
        <span class="description">
            The first person to create a room is the moderator. Share the URL or room number with other team members to join the room.
        </span>
        <button id="create-new-room" (click)="createNewRoom()">
            Create new room
        </button>
        <span class="or">
            OR
        </span>
        <form class="enter-room" (submit)="enterRoomById()">
            <div class="fild">
                <label for="room-num">
                    Enter The Room Number
                </label>
                <input type="text" name="room-num" id="room-num" placeholder="Room Number" value="{{ roomId }}" [(ngModel)]="roomId">
            </div>
            <button id="enter-room">
                Enter the room
            </button>
        </form>
    </div>
    <div class="footer">

    </div>
</div>

<div *ngIf="isLoginPopupOpen" class="reg-confirm">
    <div class="reg-pop-up">
        <div class="pop-up-header">
            <button type="input" class="pop-up-btn round-btn"
                (click)="isLoginPopupOpen = false"
            >
            <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92898 7.92893C7.53845 8.31946 7.53845 8.95262 7.92898 9.34315L13.5858 15L7.92898 20.6569C7.53845 21.0474 7.53845 21.6805 7.92898 22.0711C8.3195 22.4616 8.95267 22.4616 9.34319 22.0711L15 16.4142L20.6569 22.0711C21.0474 22.4616 21.6806 22.4616 22.0711 22.0711C22.4616 21.6805 22.4616 21.0474 22.0711 20.6569L16.4143 15L22.0711 9.34315C22.4616 8.95262 22.4616 8.31946 22.0711 7.92893C21.6806 7.53841 21.0474 7.53841 20.6569 7.92893L15 13.5858L9.34319 7.92893C8.95267 7.53841 8.3195 7.53841 7.92898 7.92893Z" fill="currentColor"></path></svg>
            </button>
        </div>
        <p class="section-name pop-up-text font-size-20">Sign in to be able to track the results of the task evaluation</p>
        <form (submit)="signIn()">
            <div>
                <span>Email</span>
                <input type="email" name="email" required="true" id="Email-1" placeholder="Email" value="{{ login }}" [(ngModel)]="login">
            </div>
            <div>
                <span>Password</span>
                <input type="password" name="password" required="true" id="Password-1" placeholder="Password" value="{{ password }}" [(ngModel)]="password">
            </div>
            <div class="pop-up-footer">
                <button type="submit" name="submit" class="btn pop-up-btn" [disabled]="login === '' && password === ''">
                    Sign In
                </button>
                <span>To Sign Up, click 👇</span>
                <button class="btn pop-up-btn" (click)="toRegisterPopup()" [disabled]="roomName === ''">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isRegisterPopupOpen" class="reg-confirm">
    <div class="reg-pop-up">
        <div class="pop-up-header">
            <button class="pop-up-btn round-btn"
                (click)="isRegisterPopupOpen = false"
            >
                <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92898 7.92893C7.53845 8.31946 7.53845 8.95262 7.92898 9.34315L13.5858 15L7.92898 20.6569C7.53845 21.0474 7.53845 21.6805 7.92898 22.0711C8.3195 22.4616 8.95267 22.4616 9.34319 22.0711L15 16.4142L20.6569 22.0711C21.0474 22.4616 21.6806 22.4616 22.0711 22.0711C22.4616 21.6805 22.4616 21.0474 22.0711 20.6569L16.4143 15L22.0711 9.34315C22.4616 8.95262 22.4616 8.31946 22.0711 7.92893C21.6806 7.53841 21.0474 7.53841 20.6569 7.92893L15 13.5858L9.34319 7.92893C8.95267 7.53841 8.3195 7.53841 7.92898 7.92893Z" fill="currentColor"></path></svg>
            </button>
        </div>
        <p class="section-name pop-up-text font-size-20">Sign up to be able to track the results of the task evaluation</p>
        <form (submit)="signUp()">
            <div>
                <span>Email</span>
                <input type="email" name="email" required="true" id="Email-2" placeholder="Email" value="{{ login }}" [(ngModel)]="login">
            </div>
            <div>
                <span>Password</span>
                <input type="password" name="password" required="true" id="Password-2" placeholder="Password" value="{{ password }}" [(ngModel)]="password">
            </div>
            <div class="pop-up-footer">
                <button type="submit" name="submit" class="btn pop-up-btn" [disabled]="login === '' && password === ''">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isUserIssuePopupOpen" class="reg-confirm">
    <div class="reg-pop-up vwvh-80">
        <div class="pop-up-header">
            <button class="mini-btn right w-fit-content" (click)="logoutClick()">
                Logout
            </button>
            <button class="pop-up-btn round-btn"
                (click)="isUserIssuePopupOpen = false"
            >
                <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92898 7.92893C7.53845 8.31946 7.53845 8.95262 7.92898 9.34315L13.5858 15L7.92898 20.6569C7.53845 21.0474 7.53845 21.6805 7.92898 22.0711C8.3195 22.4616 8.95267 22.4616 9.34319 22.0711L15 16.4142L20.6569 22.0711C21.0474 22.4616 21.6806 22.4616 22.0711 22.0711C22.4616 21.6805 22.4616 21.0474 22.0711 20.6569L16.4143 15L22.0711 9.34315C22.4616 8.95262 22.4616 8.31946 22.0711 7.92893C21.6806 7.53841 21.0474 7.53841 20.6569 7.92893L15 13.5858L9.34319 7.92893C8.95267 7.53841 8.3195 7.53841 7.92898 7.92893Z" fill="currentColor"></path></svg>
            </button>
        </div>
        <p class="section-name pop-up-text">All your estimated tasks</p>
        <table class="issues-table">
            <thead>
                <tr>
                    <th class="issue-name-width">
                        Name
                    </th>
                    <th>
                        Estimation
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let issue of issuesList;">
                    <td>
                        {{issue.name}}
                    </td>
                    <td>
                        {{issue.estimation}}
                    </td>
                    <td>
                        {{issue.priority}}
                    </td>
                    <td>
                        {{issue.creatingTime}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
